#play {
    width: 93.333333%;
}

#play #debug {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1b1b1b;
    text-transform: uppercase;
    font-family: inherit;
}

#host {
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
    background-color: #2F4D1A28;
    border-radius: 1rem;
    padding: 1.25rem 2rem;
}

#host h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

#play input {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 0.8rem;
    height: 3rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #1b1b1b;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.4rem;
}

#play button {
    background: #2F4D1A;
    color: #ffffff;
    width: 100%;
    height: 3rem;
}

#control-panel button {
    position: relative;
    color: #ffffff;
    height: 3rem;
    background: #2F4D1A;
    background: linear-gradient(110deg, #2F4D1A 10%, #3F6623 40%, #2F4D1A 60%);
    background-size: 200% 100%;
    -webkit-animation: 3s shine cubic-bezier(0.6, 0.1, 0.4, 0.9) infinite;
    animation: 3s shine cubic-bezier(0.6, 0.1, 0.4, 0.9) infinite;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

#waiting h1 {
    text-align: center;
}

#lobby {
    box-sizing: border-box;
    max-width: 1200px;
    width: 93.333333%;
    height: 100vh;
    margin: 0 auto;
    border-radius: 1rem;
    padding: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
}

#lobby #player-list {
    margin: 1rem 0;
    padding: 0;
    flex: 1;
}

#lobby #player-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: -0.4rem;
}

#lobby #player-list li {
    margin: 0;
    padding: 0;
    margin: 0.4rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 999rem;
    padding: 0.5rem 1rem;
    color: #1b1b1b;
    font-weight: 600;
    font-size: 1.4rem;
    width: fit-content;
}

#empty-player-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 4rem;
    box-sizing: content-box;
}

#empty-player-list img {
    width: 12rem;
    height: 12rem;
    margin-bottom: 4rem;
}

#control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2F4D1A28;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
    z-index: 1;
}

#room-code {
    background: #000000;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    font-family: inherit;
}

#room-code h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.8rem;
}

#control-panel button {
    width: initial;
    padding: 0 0.8rem;
}

#control-panel h1 {
    font-size: 2.8rem;
    margin: 0;
}

#ready {
    text-align: center;
}

#ready h1 {
    font-size: 4.2rem;
}

#host-question {
    max-width: 1200px;
    width: 93.333333%;
    margin: 0 auto;
    height: 100vh;
    max-height: 1000px;
    padding-top: 4rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#host-question .question-text {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 2rem;
}

#host-question #answers {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    grid-gap: 1rem;
}

#host-question #answers .answer {
    background-color: #2F4D1A28;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
}

#host-question #answers .answer.red {
    background-color: #6a1b9a;
}

#host-question #answers .answer.green {
    background-color: #1565c0;
}

#host-question #answers .answer.blue {
    background-color: #2e7d32;
}

#host-question #answers .answer.yellow {
    background-color: #4e342e;
}