#play {
    width: 93.333333%;
}

#play #debug {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    color: #1b1b1b;
    text-transform: uppercase;
    font-family: inherit;
}

#join,
#username-team {
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
    background-color: #2F4D1A28;
    border-radius: 1rem;
    padding: 1.25rem 2rem;
}

#join h1,
#username-team h1 {
    margin: 0;
    text-align: center;
    margin-bottom: 1rem;
}

#play input {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 0.8rem;
    height: 3rem;
    box-sizing: border-box;
    border: 0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #1b1b1b;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.4rem;
}

#join button {
    background: #2F4D1A;
    color: #ffffff;
    width: 100%;
    height: 3rem;
}

#waiting h1 {
    text-align: center;
    margin: 0;
}

#waiting h1 {
    background: #ffffff;
    background: linear-gradient(110deg, transparent 8%, #2F4D1A 18%, transparent 33%);
    background-size: 200% 100%;
    -webkit-animation: 3s shine cubic-bezier(0.6, 0.1, 0.4, 0.9) infinite;
    animation: 3s shine cubic-bezier(0.6, 0.1, 0.4, 0.9) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#waiting #info {
    text-align: center;
    background-color: #2F4D1A28;
    border-radius: 1rem;
    padding: 1rem 2rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: 1rem;
    line-height: 2;
}

#waiting #info #username {
    background-color: #2F4D1A;
    color: #ffffff;
    margin: 0 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
}

#waiting #info #team-name {
    background-color: #2F4D1A;
    color: #ffffff;
    margin: 0 0.2rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
}

#get-ready {
    text-align: center;
}

#play #error {
    box-sizing: border-box;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 1rem;
    background: #1b1b1b;
    border-radius: 1rem;
    padding: 1.25rem 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
}

#client-question {
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    max-height: 1000px;
    padding-top: 4rem;
    padding-bottom: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#client-question .question-text {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    color: #ffffff;
    padding-bottom: 2rem;
}

#client-question #answers {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(10px, 1fr));
    grid-gap: 1rem;
}

#client-results {
    text-align: center;
    padding: 1rem 2rem;
    background-color: #1b1b1b;
    width: fit-content;
    margin: 0 auto;
    border-radius: 1rem;
    max-width: 480px;
    width: 93.333333%;
}

#client-results.correct {
    background-color: #2e7d32;
}

#client-results.incorrect {
    background-color: #C95036;
}

#client-results h1 {
    margin: 0;
}

#client-results #answers {
    margin-top: 0.2rem;
}

#username-team .small-text {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {

    body,
    html {
        font-size: 0.8rem;
    }
}