.trivia-button {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    background: #558b2f;
    color: #fff;
    -webkit-transition-duration: transform 0.4s cubic-bezier(0, 0, .01, 1);
    transition: transform 0.4s cubic-bezier(0, 0, .01, 1);
    position: relative;
}

.trivia-button-status {
    position: absolute;
    top: -0.6rem;
    left: 0;
    background-color: #ffffff;
    color: #000000;
    border-radius: 999rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.trivia-button:disabled {
    opacity: 1;
    color: #fff;
    cursor: not-allowed;
}

.trivia-button.next {
    cursor: pointer;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .game button:hover {
    background-color: aqua;
} */

.trivia-button:not(:disabled):hover,
.trivia-button:not(:disabled):focus {
    transform: translateY(-0.125rem);
    background-color: #2F4D1A;
}

.trivia-button.incorrect {
    opacity: 0.2;
}

.trivia-button.selected {
    opacity: 1;
    background-color: #2F4D1A50;
}

.trivia-button.correct {
    background-color: #2F4D1A;
}