#trivia {
    box-sizing: border-box;
    width: 93.333333%;
    max-width: 700px;
    background-color: #2F4D1A28;
    border-radius: 1rem;
    padding: 2.5rem 4rem;
    overflow: auto;
    max-height: 80%;
}

#trivia .button-collection {
    margin: -0.5rem;
}

#trivia hr {
    margin: 1.5rem 0;
    border: 0;
    border-top: 1px solid #558b2f;
}

#question {
    text-align: left;
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 1.5rem;
}

#trivia .button-collection button {
    margin: 0.5rem;
}

p.explanation {
    /* padding-left: 30px;
    padding-right: 30px; */
    margin-left: 35px;
    margin-right: 30px;
}

.alignRight {
    margin-right: 35px;
    margin-bottom: 25px;
    text-align: right;
    border: 0;
}


.image[wobble='1'] {
    background-color: green;
}

.image[wobble='2'] {
    background-color: red;
}

.correct {
    color: green
}

.error {
    color: red
}