.MainPage {
  
  width: 100%;
  height: 100%;
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8DC26F, #76b852);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8DC26F, #76b852);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  .MainPage h1{
    text-align: center;
    margin: 0;
    background-color: #aa7125;
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: double;
    border: 3px solid #0c0c0c;
    border-radius: 5px;
    font-family: Object Sans;
  }
  .MainPage-link {
    color: #61dafb;
  }
.buttons-list{
  width: 100%;
  height: 100vh;
  flex-direction: column;

  text-align: center;
}
.button{
  text-align: center;
  height: 3rem;
  border: none;
  border-radius: 0.25em;
  background-color: #c5e1a5;
  margin: 0.25rem;
  box-shadow: inset 0 0 0 0 #558b2f;
  transition: all 0.25s cubic-bezier(0, 0, .01, 1);
  color: #000;
  font-weight: bold;
  font-size: 1.4rem;
}

.button:disabled{
  opacity: 0.25;
  cursor: not-allowed;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:not(:disabled):hover {
  box-shadow: inset 13.5rem 0 0 0 #558b2f;
  color: #fff;
  background-color: #558b2f;
}
.button:not(:disabled):active {
  color: #fff;
  background-color: #683ceb;
}



  