.Stats{
    position: absolute;
    border-style: double;
    margin-right: 10px;
    background-color: #b3efae;
    border: 3px solid #0c0c0c;
    border-radius: 5px;
    right:2%;
    color: #2a3422;
}
.Stats h1{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #b3efae;
    border-style: double;
    border: 2px dotted #0c0c0c;
    border-radius: 0px;
}
.Stat-vals{
    position: absolute;
    padding-left: 55%;
}
.Stat-names{
    margin: 0;
    padding-left: 0px;
    padding-right: 50%;
    padding-top: 0.009%;
    text-align: right;
}
