.Stats{
    position: absolute;
    border-style: double;
    width: 15%;
    margin-right: 5%;
    background-color: #dfdf89;
    border: 3px solid #041B15;
    border-radius: 5px;
    right:2%;
    color: #041B15;
}
.Stats h1{
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0%;
    padding-right: 0%;
    border-style: double;
    border: 2px dotted #041B15;
    background-color: #dfdf89;
    border-radius: 0px;
}
.Stat-vals{
    position: absolute;
    padding-left: 65%;
}
.CarbonEmissions{
    padding-top: 220%;
}
.Soil{
    padding-top: 20%;
}
.NaturalDistasters{
    padding-top: 150%;
}
.Stat-names{
    margin: 0;
    padding-left: 0%;
    padding-right: 50%;
    padding-top: 0.4%;
    text-align: right;
}
